customer-activity {
  .item-ios.item-block .item-inner {
    padding-right: 1px;
  }

  .item-md.item-block .item-inner {
    padding-right: 1px;
  }

  .label-ios {
    margin: 0;
  }

  .label-md {
    margin: 0;
  }
}
